a.xbuilder-login-button {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  gap: 12px;
  color: #24292f;
  background-color: #fff;
  border: 1px solid #cfd9de;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: #24292f;
    background-color: #eaeff3;
  }

  &.primary {
    color: #fff;
    background-color: #0bc0cf;
    border-color: #0bc0cf;
  }

  &.primary:hover {
    background-color: #0aa5be;
    border-color: #0aa5be;
  }
}

a.xbuilder-username-password-link {
  color: #6e7781;
  transition: color 0.2s ease;

  &:hover {
    color: #0aa5be;
  }
}
